{
  "openapi": "3.1.0",
  "info": {
    "version": "1.275.8",
    "title": "SpaceCat API",
    "description": "The SpaceCat API is used to manage edge delivery site directory and obtain audit information.\n\n## Authentication\n<SecurityDefinitions></SecurityDefinitions>\n",
    "termsOfService": "https://www.adobe.com/go/experiencecloudterms",
    "contact": {
      "name": "Spacecat Team",
      "url": "https://github.com/adobe/spacecat-api-service"
    },
    "x-logo": {
      "url": "https://solaris007.github.io/spacecat-ui/spacecat_logo_192.webp",
      "altText": "SpaceCat logo"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://spacecat.experiencecloud.live/api/ci",
      "description": "Development server"
    },
    {
      "url": "https://spacecat.experiencecloud.live/api/v1",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "site",
      "description": "Site operations"
    },
    {
      "name": "audit",
      "description": "Audit operations"
    },
    {
      "name": "auth",
      "description": "Init authentication against 3rd party services"
    },
    {
      "name": "configuration",
      "description": "Configuration management operations"
    },
    {
      "name": "organization",
      "description": "Organization operations"
    },
    {
      "name": "trigger",
      "description": "Trigger operations"
    },
    {
      "name": "hooks",
      "description": "Webhooks for receiving events"
    },
    {
      "name": "slack",
      "description": "Slack channel management"
    },
    {
      "name": "api-keys",
      "description": "API key management"
    },
    {
      "name": "import",
      "description": "APIs for importing content to Edge Delivery Services"
    },
    {
      "name": "scrape",
      "description": "APIs for scraping web pages"
    },
    {
      "name": "consent-banner",
      "description": "APIs for taking and retrieving webpage screenshots, specifically for consent banner analysis"
    },
    {
      "name": "llmo",
      "description": "LLMO (Large Language Model Optimizer) operations"
    },
    {
      "name": "entitlements",
      "description": "Entitlement management operations"
    },
    {
      "name": "site-enrollments",
      "description": "Site enrollment management operations"
    },
    {
      "name": "trial-users",
      "description": "Trial user management operations"
    },
    {
      "name": "user-activities",
      "description": "User activity management operations"
    },
    {
      "name": "sandbox",
      "description": "Sandbox audit operations"
    },
    {
      "name": "reports",
      "description": "Report generation and management operations"
    },
    {
      "name": "project",
      "description": "Project management operations"
    },
    {
      "name": "site urls",
      "description": "Site URL tracking and management operations"
    }
  ],
  "paths": {
    "/audits/latest/{auditType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/auditType"
        },
        {
          "$ref": "#/components/parameters/ascending"
        }
      ],
      "get": {
        "tags": [
          "audit"
        ],
        "summary": "Retrieve all latest audits of a given type",
        "description": "This endpoint is useful for retrieving all audits of a given type.\nOptionally, the results can be sorted in ascending order by audited at date.\n",
        "operationId": "getAllAudits",
        "responses": {
          "200": {
            "description": "A list of audits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-audit-type"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth/google/{siteId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Authenticate with Google",
        "description": "This endpoint is used to authenticate with Google.\nThe user will be redirected to the Google authentication flow.\n",
        "operationId": "googleAuth",
        "responses": {
          "200": {
            "description": "Successful operation and token has been saved"
          },
          "302": {
            "description": "Redirect to Google authentication flow"
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "404": {
            "description": "Site matching site found in Google Search Console"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/google/{siteId}/status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/siteId"
        }
      ],
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check Google Search Console authentication status for a site",
        "description": "This endpoint is used to check if a site is connected to Google Search Console and verify authentication status.\n",
        "operationId": "googleAuthStatus",
        "responses": {
          "200": {
            "description": "Site is successfully connected to Google Search Console",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The GSC connection status of the site",
                      "example": "Site is connected to Google Search Console"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters"
          },
          "404": {
            "description": "Authentication tokens not found or Site not found in Google Search Console"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": []
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Authenticate with access token",
        "description": "Authenticates a user using an IMS access token and returns session information.\n",
        "operationId": "login",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accessToken"
                ],
                "properties": {
                  "accessToken": {
                    "type": "string",
                    "description": "The access token to authenticate with"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionToken": {
                      "type": "string",
                      "description": "A JWT token signed by the service containing the user profile and tenants."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Invalid access token"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/configurations/latest": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get the latest application configuration",
        "operationId": "getLatestConfiguration",
        "security": [
          {
            "admin_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "The latest application configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Latest configuration not found."
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "patch": {
        "tags": [
          "configuration"
        ],
        "summary": "Partially update configuration sections",
        "description": "Partially updates one or more sections of the configuration (handlers, jobs, queues).\nThis endpoint merges the provided data with existing configuration rather than replacing it.\nOnly the sections specified in the request body will be updated.\nCreates a new version automatically.\nNote: Version and slackRoles fields are excluded from updates.\n",
        "operationId": "updateConfiguration",
        "security": [
          {
            "admin_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Configuration sections to update",
                "properties": {
                  "handlers": {
                    "type": "object",
                    "description": "Handlers configuration (merges with existing handlers - adds new, updates existing)",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "enabledByDefault": {
                          "type": "boolean"
                        },
                        "enabled": {
                          "type": "object",
                          "properties": {
                            "sites": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "orgs": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "disabled": {
                          "type": "object",
                          "properties": {
                            "sites": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "orgs": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "dependencies": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "handler": {
                                "type": "string"
                              },
                              "actions": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "productCodes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "minItems": 1,
                          "description": "Required, must be non-empty"
                        },
                        "movingAvgThreshold": {
                          "type": "number",
                          "minimum": 1
                        },
                        "percentageChangeThreshold": {
                          "type": "number",
                          "minimum": 1
                        }
                      }
                    }
                  },
                  "jobs": {
                    "type": "array",
                    "description": "Jobs configuration (merges with existing jobs - updates matching jobs by type and group)",
                    "items": {
                      "type": "object",
                      "properties": {
                        "group": {
                          "type": "string",
                          "enum": [
                            "audits",
                            "imports",
                            "reports",
                            "scrapes"
                          ]
                        },
                        "type": {
                          "type": "string"
                        },
                        "interval": {
                          "type": "string",
                          "enum": [
                            "never",
                            "every-hour",
                            "daily",
                            "weekly",
                            "every-saturday",
                            "every-sunday",
                            "fortnightly",
                            "fortnightly-saturday",
                            "fortnightly-sunday",
                            "monthly"
                          ]
                        }
                      }
                    }
                  },
                  "queues": {
                    "type": "object",
                    "description": "Queue URLs configuration (merges with existing queues - updates only specified queue URLs)",
                    "properties": {
                      "audits": {
                        "type": "string",
                        "format": "uri"
                      },
                      "imports": {
                        "type": "string",
                        "format": "uri"
                      },
                      "reports": {
                        "type": "string",
                        "format": "uri"
                      },
                      "scrapes": {
                        "type": "string",
                        "format": "uri"
                      }
                    }
                  }
                }
              },
              "examples": {
                "update-queues-only": {
                  "summary": "Update only queue URLs",
                  "value": {
                    "queues": {
                      "audits": "sqs://account/new-audit-queue",
                      "imports": "sqs://account/new-import-queue",
                      "reports": "sqs://account/new-report-queue",
                      "scrapes": "sqs://account/new-scrape-queue"
                    }
                  }
                },
                "update-jobs-only": {
                  "summary": "Update only job schedules",
                  "value": {
                    "jobs": [
                      {
                        "group": "audits",
                        "type": "cwv",
                        "interval": "weekly"
                      },
                      {
                        "group": "audits",
                        "type": "404",
                        "interval": "daily"
                      }
                    ]
                  }
                },
                "update-handlers-only": {
                  "summary": "Update only handlers",
                  "value": {
                    "handlers": {
                      "cwv": {
                        "enabledByDefault": true,
                        "enabled": {
                          "sites": [],
                          "orgs": []
                        },
                        "disabled": {
                          "sites": [],
                          "orgs": []
                        },
                        "dependencies": [],
                        "productCodes": [
                          "SPACECAT_CORE"
                        ]
                      }
                    }
                  }
                },
                "update-multiple-sections": {
                  "summary": "Update handlers and jobs together",
                  "value": {
                    "handlers": {
                      "cwv": {
                        "enabledByDefault": true,
                        "productCodes": [
                          "SPACECAT_CORE"
                        ]
                      }
                    },
                    "jobs": [
                      {
                        "group": "audits",
                        "type": "cwv",
                        "interval": "weekly"
                      }
                    ],
                    "queues": {
                      "audits": "sqs://account/audit-queue"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Configuration not found."
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/latest/queues": {
      "put": {
        "tags": [
          "configuration"
        ],
        "summary": "Update queue URLs in the configuration",
        "operationId": "updateQueues",
        "security": [
          {
            "admin_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Queue URLs configuration object",
                "properties": {
                  "audits": {
                    "type": "string",
                    "format": "uri",
                    "description": "SQS queue URL for audit jobs",
                    "example": "sqs://aws-account-id/spacecat-services-audit-jobs"
                  },
                  "imports": {
                    "type": "string",
                    "format": "uri",
                    "description": "SQS queue URL for import jobs",
                    "example": "sqs://aws-account-id/spacecat-services-import-jobs"
                  },
                  "reports": {
                    "type": "string",
                    "format": "uri",
                    "description": "SQS queue URL for report jobs",
                    "example": "sqs://aws-account-id/spacecat-services-report-jobs"
                  },
                  "scrapes": {
                    "type": "string",
                    "format": "uri",
                    "description": "SQS queue URL for scrape jobs",
                    "example": "sqs://aws-account-id/spacecat-services-scrape-jobs"
                  }
                },
                "example": {
                  "audits": "sqs://123456789/spacecat-services-audit-jobs",
                  "imports": "sqs://123456789/spacecat-services-import-jobs",
                  "reports": "sqs://123456789/spacecat-services-report-jobs",
                  "scrapes": "sqs://123456789/spacecat-services-scrape-jobs"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Queue URLs updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Configuration not found."
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/latest/jobs/{jobType}": {
      "patch": {
        "tags": [
          "configuration"
        ],
        "summary": "Update a job's schedule and properties",
        "operationId": "updateJob",
        "security": [
          {
            "admin_key": []
          }
        ],
        "parameters": [
          {
            "name": "jobType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of job to update",
            "example": "cwv"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Job properties to update",
                "properties": {
                  "interval": {
                    "type": "string",
                    "description": "Job execution interval",
                    "enum": [
                      "never",
                      "every-hour",
                      "daily",
                      "weekly",
                      "every-saturday",
                      "every-sunday",
                      "fortnightly",
                      "fortnightly-saturday",
                      "fortnightly-sunday",
                      "monthly"
                    ],
                    "example": "weekly"
                  },
                  "group": {
                    "type": "string",
                    "description": "Job group/category",
                    "enum": [
                      "audits",
                      "imports",
                      "reports",
                      "scrapes"
                    ],
                    "example": "audits"
                  }
                },
                "example": {
                  "interval": "weekly",
                  "group": "audits"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Configuration or job not found."
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/latest/handlers/{handlerType}": {
      "patch": {
        "tags": [
          "configuration"
        ],
        "summary": "Update a handler's properties",
        "operationId": "updateHandler",
        "security": [
          {
            "admin_key": []
          }
        ],
        "parameters": [
          {
            "name": "handlerType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of handler to update",
            "example": "cwv"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Handler properties to update",
                "properties": {
                  "enabledByDefault": {
                    "type": "boolean",
                    "description": "Whether the handler is enabled by default for all sites",
                    "example": true
                  },
                  "enabled": {
                    "type": "object",
                    "description": "Explicitly enabled sites and organizations",
                    "properties": {
                      "sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of site IDs where handler is enabled",
                        "example": [
                          "site-uuid-1",
                          "site-uuid-2"
                        ]
                      },
                      "orgs": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of organization IDs where handler is enabled",
                        "example": [
                          "org-uuid-1"
                        ]
                      }
                    }
                  },
                  "disabled": {
                    "type": "object",
                    "description": "Explicitly disabled sites and organizations",
                    "properties": {
                      "sites": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of site IDs where handler is disabled",
                        "example": [
                          "site-uuid-3"
                        ]
                      },
                      "orgs": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "Array of organization IDs where handler is disabled",
                        "example": [
                          "org-uuid-2"
                        ]
                      }
                    }
                  },
                  "dependencies": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "handler": {
                          "type": "string",
                          "description": "Handler that must be enabled first",
                          "example": "sitemap"
                        },
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Actions required from the dependency",
                          "example": [
                            "run"
                          ]
                        }
                      }
                    },
                    "description": "Array of handler dependencies"
                  },
                  "productCodes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Required product codes (must be non-empty if provided)",
                    "example": [
                      "SPACECAT_CORE",
                      "SPACECAT_PREMIUM"
                    ]
                  },
                  "movingAvgThreshold": {
                    "type": "number",
                    "minimum": 1,
                    "description": "Moving average threshold for alerts",
                    "example": 10
                  },
                  "percentageChangeThreshold": {
                    "type": "number",
                    "minimum": 1,
                    "description": "Percentage change threshold for alerts",
                    "example": 20
                  }
                },
                "example": {
                  "enabledByDefault": true,
                  "enabled": {
                    "sites": [],
                    "orgs": [
                      "org-uuid-1"
                    ]
                  },
                  "disabled": {
                    "sites": [
                      "site-uuid-1"
                    ],
                    "orgs": []
                  },
                  "dependencies": [
                    {
                      "handler": "sitemap",
                      "actions": [
                        "run"
                      ]
                    }
                  ],
                  "productCodes": [
                    "SPACECAT_CORE"
                  ],
                  "movingAvgThreshold": 15,
                  "percentageChangeThreshold": 25
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handler updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Configuration or handler not found."
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/{version}": {
      "get": {
        "tags": [
          "configuration"
        ],
        "summary": "Get a specific version of the application configuration",
        "operationId": "getConfigurationByVersion",
        "security": [
          {
            "admin_key": []
          }
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version identifier to retrieve",
            "schema": {
              "type": "string"
            },
            "example": "EqZSCYxbPdKJ0Xso9QkbS0h0ZfDbhXWe"
          }
        ],
        "responses": {
          "200": {
            "description": "Specific version of the application configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-configuration-not-found-with-version"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/{version}/restore": {
      "post": {
        "tags": [
          "configuration"
        ],
        "summary": "Restore configuration to a specific version",
        "description": "Restores the configuration to a specific version by creating a new version\nwith the data (handlers, jobs, queues, slackRoles) from the specified version.\nThis creates a new configuration version, preserving the complete version history.\nOnly administrators can restore configurations.\n",
        "operationId": "restoreConfigurationVersion",
        "security": [
          {
            "admin_key": []
          }
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The version identifier to restore from",
            "schema": {
              "type": "string"
            },
            "example": "EqZSCYxbPdKJ0Xso9QkbS0h0ZfDbhXWe"
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration successfully restored",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Configuration"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "restoredFrom": {
                          "type": "integer",
                          "description": "The version number that was restored from",
                          "example": 2376
                        },
                        "message": {
                          "type": "string",
                          "description": "Success message",
                          "example": "Configuration successfully restored from version 2376"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "restore-success": {
                    "summary": "Successful restore example",
                    "value": {
                      "version": 2501,
                      "handlers": {
                        "404": {
                          "enabledByDefault": true,
                          "productCodes": [
                            "ASO"
                          ],
                          "dependencies": [],
                          "enabled": {
                            "sites": [],
                            "orgs": []
                          },
                          "disabled": {
                            "sites": [],
                            "orgs": []
                          }
                        }
                      },
                      "jobs": [
                        {
                          "type": "404",
                          "group": "audits",
                          "interval": "daily"
                        }
                      ],
                      "queues": {
                        "audits": "https://sqs.us-east-1.amazonaws.com/1234/audits",
                        "imports": "https://sqs.us-east-1.amazonaws.com/1234/imports"
                      },
                      "slackRoles": {
                        "admin": [
                          "user1",
                          "user2"
                        ]
                      },
                      "restoredFrom": 2376,
                      "message": "Configuration successfully restored from version 2376"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/audits": {
      "post": {
        "tags": [
          "configuration"
        ],
        "summary": "Register a new audit type in the configuration",
        "operationId": "registerAudit",
        "security": [
          {
            "admin_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "auditType",
                  "enabledByDefault",
                  "interval",
                  "productCodes"
                ],
                "properties": {
                  "auditType": {
                    "type": "string",
                    "description": "The type of audit to register",
                    "example": "cwv"
                  },
                  "enabledByDefault": {
                    "type": "boolean",
                    "description": "Whether this audit type should be enabled by default for new sites",
                    "example": true
                  },
                  "interval": {
                    "type": "string",
                    "description": "The job interval for running the audit",
                    "example": "weekly"
                  },
                  "productCodes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The product codes the audit should be executed for",
                      "example": "LLMO"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Audit type registered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message including the audit type that was registered",
                      "example": "Audit type \"cwv\" has been successfully registered"
                    },
                    "version": {
                      "type": "string",
                      "description": "The new configuration version after registering",
                      "example": "2379"
                    }
                  }
                },
                "examples": {
                  "register-success": {
                    "summary": "Successful register example",
                    "value": {
                      "message": "Audit type \"cwv\" has been successfully registered",
                      "version": "2379"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/audits/{auditType}": {
      "delete": {
        "tags": [
          "configuration"
        ],
        "summary": "Unregister an audit type from the configuration",
        "operationId": "unregisterAudit",
        "security": [
          {
            "admin_key": []
          }
        ],
        "parameters": [
          {
            "name": "auditType",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The type of audit to unregister",
            "example": "cwv"
          }
        ],
        "responses": {
          "200": {
            "description": "Audit type unregistered successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Success message including the audit type that was unregistered",
                      "example": "Audit type \"cwv\" has been successfully unregistered"
                    },
                    "version": {
                      "type": "string",
                      "description": "The new configuration version after unregistering",
                      "example": "2378"
                    }
                  }
                },
                "examples": {
                  "unregister-success": {
                    "summary": "Successful unregister example",
                    "value": {
                      "message": "Audit type \"cwv\" has been successfully unregistered",
                      "version": "2378"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/configurations/sites/audits": {
      "patch": {
        "tags": [
          "configuration"
        ],
        "summary": "Enable or disable audits for sites or organizations",
        "description": "Use this endpoint to enable or disable specific audit types for your sites or entire organizations.\nYou can specify either a site (via baseURL) or an organization (via organizationId), but not both.\n",
        "operationId": "update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "baseURL": {
                      "$ref": "#/components/schemas/URL",
                      "description": "Site URL (use this OR organizationId, not both)"
                    },
                    "organizationId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Organization ID (use this OR baseURL, not both)",
                      "example": "550e8400-e29b-41d4-a716-446655440000"
                    },
                    "auditType": {
                      "type": "string",
                      "description": "The type of audit to be enabled or disabled.",
                      "examples": [
                        "cwv",
                        404,
                        "broken-backlinks"
                      ]
                    },
                    "enable": {
                      "type": "boolean",
                      "description": "Set to true to enable the audit, or false to disable it."
                    }
                  },
                  "required": [
                    "auditType",
                    "enable"
                  ],
                  "oneOf": [
                    {
                      "required": [
                        "baseURL"
                      ]
                    },
                    {
                      "required": [
                        "organizationId"
                      ]
                    }
                  ]
                }
              },
              "examples": {
                "site-level": {
                  "summary": "Enable audit for a specific site",
                  "value": [
                    {
                      "baseURL": "https://example.com",
                      "auditType": "cwv",
                      "enable": true
                    }
                  ]
                },
                "org-level": {
                  "summary": "Enable audit for entire organization",
                  "value": [
                    {
                      "organizationId": "550e8400-e29b-41d4-a716-446655440000",
                      "auditType": "cwv",
                      "enable": true
                    }
                  ]
                },
                "mixed": {
                  "summary": "Mixed site and org operations",
                  "value": [
                    {
                      "baseURL": "https://example.com",
                      "auditType": "cwv",
                      "enable": true
                    },
                    {
                      "organizationId": "550e8400-e29b-41d4-a716-446655440000",
                      "auditType": "lhs-mobile",
                      "enable": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "207": {
            "description": "Multi-status response with results for each operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationSitesAuditsUpdateResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "description": "Site, organization, or audit type not found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          }
        ]
      }
    },
    "/event/fulfillment": {
      "post": {
        "tags": [
          "hooks"
        ],
        "summary": "Process fulfillment_completed events",
        "description": "This endpoint can be used to process an array of fulfillment_completed\nevents, in the format produced by the Fulfillment Gateway and \ndelivered by the Hoolihan pipeline. In particular, it is intended to \nbe used to handle contract fulfillment events which involve an Edge \nDelivery Services fulfillable item \"code\".\n",
        "operationId": "processFulfillmentEvents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoolihanEvents"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted for processing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillmentProcessingResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-bad-hoolihan-event"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          }
        ]
      }
    },
    "/hooks/site-detection/cdn/{hookSecret}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/hookSecret"
        }
      ],
      "post": {
        "tags": [
          "hooks"
        ],
        "summary": "Process incoming site discovery hooks from CDN logs",
        "description": "This endpoint processes hooks that include x-forwarded-host header value from CDN logs \nUpon receiving the incoming webhook, it initiates a sequence of validation and sanitization procedures\nOnce successful sanitization and validation are completed, \nit proceeds to send a Slack message notifying about the discovered domain\n",
        "operationId": "siteDetectionCdn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CDNXForwardedHostAlert"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "hook is accepted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/hooks/site-detection/rum/{hookSecret}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/hookSecret"
        }
      ],
      "post": {
        "tags": [
          "hooks"
        ],
        "summary": "Process incoming site discovery hooks from RUM logs",
        "description": "This endpoint processes hooks that include URL and domain information from RUM logs \nUpon receiving the incoming webhook, it initiates a sequence of validation and sanitization procedures\nOnce successful sanitization and validation are completed, \nit proceeds to send a Slack message notifying about the discovered domain\n",
        "operationId": "siteDetectionRum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RUMDomainDiscoveryAlert"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "hook is accepted"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/hooks/site-integration/analytics/{hookSecret}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/hookSecret"
        }
      ],
      "post": {
        "tags": [
          "hooks"
        ],
        "summary": "Process setup completed events for site integration with analytics",
        "description": "Not implemented yet (will be via https://github.com/adobe/spacecat-api-service/issues/237).\nProcess setup completed events for site integration with analytics.\n",
        "operationId": "processAnalyticsSiteIntegration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyticsSiteIntegration"
              },
              "examples": {
                "analytics-site-integration-aa-tags": {
                  "$ref": "#/components/examples/analytics-site-integration-aa-tags"
                },
                "analytics-site-integration-aa-aep-websdk": {
                  "$ref": "#/components/examples/analytics-site-integration-aa-aep-websdk"
                },
                "analytics-site-integration-cja-tags": {
                  "$ref": "#/components/examples/analytics-site-integration-cja-tags"
                },
                "analytics-site-integration-cja-websdk": {
                  "$ref": "#/components/examples/analytics-site-integration-cja-websdk"
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted for processing"
          },
          "400": {
            "$ref": "#/components/responses/400-no-site-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-site-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/organizations": {
      "post": {
        "tags": [
          "organization"
        ],
        "summary": "Create a new organization",
        "description": "This endpoint is useful for creating a new organization.\n",
        "operationId": "createOrganization",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Organization created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-empty-request-body-validation-failure"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve all organizations",
        "description": "This endpoint is useful for retrieving all organizations.\n",
        "operationId": "getOrganizations",
        "responses": {
          "200": {
            "description": "A list of organizations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve a single organization by its ID",
        "description": "This endpoint is useful for retrieving an organization by its ID.\n",
        "operationId": "getOrganization",
        "responses": {
          "200": {
            "description": "Successful operation with an organization object returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "organization"
        ],
        "summary": "Update an organization",
        "description": "This endpoint is useful for updating an organization.\nOnly the fields as per the request body schema will be updated.\nAt least one field to update must be provided in the request body.\n",
        "operationId": "patchOrganization",
        "security": [
          {
            "admin_key": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id-request-body-no-updates"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      },
      "delete": {
        "tags": [
          "organization"
        ],
        "summary": "Delete an organization (Restricted Operation)",
        "description": "This endpoint is restricted and will return a 403 Forbidden response.\nOrganization deletion is not allowed through the API for security and data integrity reasons.\n",
        "operationId": "deleteOrganization",
        "security": [
          {
            "admin_key": []
          }
        ],
        "responses": {
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "description": "Restricted Operation - Organization deletion is not allowed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Restricted Operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/organizations/{organizationId}/brands": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "get": {
        "tags": [
          "organization",
          "brands"
        ],
        "summary": "Retrieves brands for an organization",
        "description": "This endpoint provide a list of brands the user have access to in the given organization.\n",
        "operationId": "getBrandsForOrganization",
        "responses": {
          "200": {
            "description": "A list of brands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "ims_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/sites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "get": {
        "tags": [
          "organization",
          "site"
        ],
        "summary": "Retrieve all sites for an organization",
        "description": "This endpoint is useful for retrieving all sites for an organization.\n",
        "operationId": "getSitesForOrganization",
        "responses": {
          "200": {
            "description": "A list of sites",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/entitlements": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "get": {
        "tags": [
          "entitlements"
        ],
        "summary": "List all entitlements for an organization",
        "description": "This endpoint retrieves all entitlements associated with a specific organization.\n",
        "operationId": "getEntitlementsByOrganization",
        "responses": {
          "200": {
            "description": "List of entitlements for organization retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Entitlement"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "ims_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/trial-users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "get": {
        "tags": [
          "trial-users"
        ],
        "summary": "List all trial users for an organization",
        "description": "This endpoint retrieves all trial users associated with a specific organization.\n",
        "operationId": "getTrialUsersByOrganization",
        "responses": {
          "200": {
            "description": "List of trial users for organization retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrialUser"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "ims_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/trial-user-invite": {
      "parameters": [
        {
          "$ref": "#/components/parameters/organizationId"
        }
      ],
      "post": {
        "tags": [
          "trial-users"
        ],
        "summary": "Invite a trial user to an organization",
        "description": "This endpoint allows inviting a new trial user to an organization by providing their email address.\n",
        "operationId": "inviteTrialUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "emailId"
                ],
                "properties": {
                  "emailId": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the user to invite",
                    "example": "user@example.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trial user invite sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialUser"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-no-organization-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "409": {
            "description": "User already exists or is already invited"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "ims_key": []
          }
        ]
      }
    },
    "/organizations/by-ims-org-id/{imsOrgId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/imsOrgId"
        }
      ],
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve an organization by IMS Org ID",
        "description": "This endpoint is useful for retrieving an organization by IMS Org ID.\n",
        "operationId": "getOrganizationByImsOrgId",
        "responses": {
          "200": {
            "description": "Successful operation with an organization object returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-bad-ims-org-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/organizations/by-ims-org-id/{imsOrgId}/slack-config": {
      "parameters": [
        {
          "$ref": "#/components/parameters/imsOrgId"
        }
      ],
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve Slack config for an organization by IMS Org ID",
        "description": "This endpoint is useful for retrieving the Slack config of an \norganization by IMS Org ID.\n",
        "operationId": "getSlackConfigByImsOrgId",
        "responses": {
          "200": {
            "description": "Successful operation with a Slack config object returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SlackConfig"
                }
              }
            }
          },
          "204": {
            "description": "No Slack config found for this IMS Org ID"
          },
          "400": {
            "$ref": "#/components/responses/400-bad-ims-org-id"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/projects": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve all projects for an organization",
        "description": "This endpoint is useful for retrieving all projects belonging to a specific organization.\n",
        "operationId": "getProjectsForOrganization",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of projects for the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/projects/{projectId}/sites": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve all sites for a project within an organization",
        "description": "This endpoint is useful for retrieving all sites belonging to a specific project within an organization.\n",
        "operationId": "getSitesByProjectIdAndOrganizationId",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sites for the project within the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/organizations/{organizationId}/by-project-name/{projectName}/sites": {
      "get": {
        "tags": [
          "organization"
        ],
        "summary": "Retrieve all sites for a project by project name within an organization",
        "description": "This endpoint is useful for retrieving all sites belonging to a specific project (identified by name) within an organization.\n",
        "operationId": "getSitesByProjectNameAndOrganizationId",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "The name of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sites for the project within the organization",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404-organization-not-found-with-id"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/projects": {
      "post": {
        "tags": [
          "project"
        ],
        "summary": "Create a new project",
        "description": "This endpoint is useful for creating a new project.\n",
        "operationId": "createProject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-empty-request-body-validation-failure"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      },
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Retrieve all projects",
        "description": "This endpoint is useful for retrieving all projects.\n",
        "operationId": "getProjects",
        "responses": {
          "200": {
            "description": "A list of projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Retrieve a project by ID",
        "description": "This endpoint is useful for retrieving a project by its ID.\n",
        "operationId": "getProjectById",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to retrieve",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      },
      "patch": {
        "tags": [
          "project"
        ],
        "summary": "Update an existing project",
        "description": "This endpoint is useful for updating an existing project.\n",
        "operationId": "updateProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to update",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-empty-request-body-validation-failure"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "project"
        ],
        "summary": "Delete a project by ID",
        "description": "This endpoint is useful for deleting a project by its ID.\n",
        "operationId": "deleteProject",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project to delete",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "admin_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/projects/{projectId}/sites": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Retrieve all sites for a project",
        "description": "This endpoint retrieves all sites belonging to a specific project.\n",
        "operationId": "getSitesByProjectId",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sites for the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/projects/{projectId}/sites/primary-locale": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Retrieve primary locale sites for a project",
        "description": "This endpoint retrieves all sites with primary locale for a specific project.\n",
        "operationId": "getProjectPrimaryLocaleSites",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The ID of the project",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Primary locale sites found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/projects/by-project-name/{projectName}/sites": {
      "get": {
        "tags": [
          "project"
        ],
        "summary": "Retrieve all sites for a project by project name",
        "description": "This endpoint retrieves all sites belonging to a specific project identified by its name.\n",
        "operationId": "getSitesByProjectName",
        "parameters": [
          {
            "name": "projectName",
            "in": "path",
            "description": "The name of the project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of sites for the project",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          },
          {
            "scoped_api_key": []
          }
        ]
      }
    },
    "/preflight/jobs": {
      "post": {
        "tags": [
          "preflight"
        ],
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          }
        ],
        "summary": "Submit a new preflight async job",
        "description": "This endpoint is useful for submitting a new preflight async job.\nThe job will process the provided URL and return the results.\nThe jobId can be used to poll for the status of the job.\n",
        "operationId": "submitPreflightJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "urls": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    },
                    "description": "Array of URLs to be processed by the job",
                    "minItems": 1
                  },
                  "step": {
                    "type": "string",
                    "enum": [
                      "identify",
                      "suggest"
                    ],
                    "description": "The audit step to be performed"
                  },
                  "checks": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "canonical",
                        "links",
                        "metatags",
                        "body-size",
                        "lorem-ipsum",
                        "h1-count",
                        "readability",
                        "accessibility"
                      ]
                    },
                    "description": "Optional array of specific checks to run. If not provided, all checks will be run."
                  }
                },
                "required": [
                  "urls",
                  "step"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePreflightJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing urls array, step field, or other required fields)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/preflight/jobs/{jobId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jobId"
        }
      ],
      "get": {
        "tags": [
          "preflight"
        ],
        "security": [
          {
            "api_key": []
          },
          {
            "ims_key": []
          }
        ],
        "summary": "Get preflight job status and result",
        "description": "This endpoint is used to retrieve the status and results of a preflight async job.\nThe jobId must be provided in the path parameter.\nIf the job is completed, the result will be included in the response.\nIf the job is still in progress, a 200 response will be returned.\n",
        "operationId": "getPreflightJobStatus",
        "responses": {
          "200": {
            "description": "Job status and (if available) result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreflightJobResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid jobId format",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs": {
      "post": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Create new Scrape Job",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint allows you to create a new async url scrape job.\nThe job is provided a list URLs to be scraped. The URLs are fed into a queue and processed 1 at a time.\nThe returned jobId can be used to poll for the status and the results of the job.\n",
        "operationId": "createScrapeJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScrapeRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAsyncJobAcceptedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400-max-scrape-urls-exceeded"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs/{jobId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jobId"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape Job Status",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve the status of an async scrape job.\nThe jobId must be provided in the path parameter. (see samples)\n",
        "operationId": "getScrapeJobStatus",
        "responses": {
          "200": {
            "description": "Job status and (if available) result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    },
    "/tools/scrape/jobs/{jobId}/results": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jobId"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape Job URL Results",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve the results of an async scrape job.\nThe jobId must be provided in the path parameter. (see samples)\n",
        "operationId": "getScrapeJobUrlResults",
        "responses": {
          "200": {
            "description": "Job results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeJobUrlResultsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs/by-date-range/{startDate}/{endDate}/all-jobs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/startDate"
        },
        {
          "$ref": "#/components/parameters/endDate"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape Jobs by Date Range",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve the scrape jobs by date range.\nThe startDate and endDate must be provided in the path parameter. (see samples)\n",
        "operationId": "getScrapeJobsByDateRange",
        "responses": {
          "200": {
            "description": "Scrape jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeJobsByDateRangeResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs/by-base-url/{base64BaseUrl}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/base64BaseUrl"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape Jobs by Base URL",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve the scrape jobs by base URL.\nThe baseURL must be provided in the path parameter. (see samples)\n",
        "operationId": "getScrapeJobsByBaseURL",
        "responses": {
          "200": {
            "description": "Scrape jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeJobsByBaseURLResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs/by-base-url/{base64BaseUrl}/by-processingtype/{processingType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/base64BaseUrl"
        },
        {
          "$ref": "#/components/parameters/processingType"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape Jobs by Base URL and Processing Type",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve the scrape jobs by base URL.\nThe baseURL and processingType must be provided in the path parameter\n",
        "operationId": "getScrapeJobsByBaseURLAndProcessingType",
        "responses": {
          "200": {
            "description": "Scrape jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScrapeJobsByBaseURLResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/tools/scrape/jobs/by-url/{base64Url}/{processingType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/base64Url"
        },
        {
          "$ref": "#/components/parameters/processingTypeOptional"
        }
      ],
      "get": {
        "tags": [
          "scrape"
        ],
        "security": [
          {
            "api_key": []
          }
        ],
        "summary": "Get Scrape URLs by URL and Processing Type",
        "description": "⚠️ **EXPERIMENTAL / PROTOTYPE**\nThis endpoint is used to retrieve scraped URLs by a specific URL and processing type.\nThe URL and processingType must be provided in the path parameter. (see samples)\nReturns an array of scrape URL results sorted by creation date (newest first).\n",
        "operationId": "getScrapeUrlByProcessingType",
        "responses": {
          "200": {
            "description": "Scrape URL results",
            "content": {
              "application/json": {
                "schema": {
[...]
